<html>
<head>
  <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
       <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

      <title>Secure Career Guidance System</title>

      <!-- Google font -->
      <link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">
      

  <link href="{{ url_for('static', filename='chart.css') }}" rel="stylesheet" media="all">
  
  <link href="{{ url_for('static', filename='css1/bootstrap.min.css') }}" rel="stylesheet" media="all">
  
  <link href="{{ url_for('static', filename='css1/font-awesome.min.css') }}" rel="stylesheet" media="all">
  
  <link href="{{ url_for('static', filename='css1/s.css') }}" rel="stylesheet" media="all">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
</head>
<body>
<!--Header-->
        <header id="header" class="transparent-nav" style="position: fixed;background-color: #71BAED; top: 0;">
         <div class="container">

            <div class="navbar-header">
               <!-- Logo -->
               <div class="navbar-brand">
                  <a class="logo" href="/hometest">CareerCompass</a>
               </div>
               <!-- /Logo -->

               <!-- Mobile toggle -->
               <button class="navbar-toggle">
                  <span></span>
               </button>
               <!-- /Mobile toggle -->
            </div>

            
            <!-- Navigation -->
            
               <!-- Navigation -->
            <nav id="nav">
               <ul class="main-menu nav navbar-nav navbar-right">
                  <li><a href="/hometest">Career Prediction</a></li>
                        <li class="dropdown">
                            <a class="dropbtn" href="javascript:void(0)">Services <span> &#11167;</span></a>
                            <div class="dropdown-content">
                        <a href="/course">Go to Course Page</a>
                        <a href="">Knowledge Network</a>
                            </div>
                        </li>
                  
                  <li><a href="/contact">Contact Us</a></li>
                  <li><a href="{{ url_for('logout') }}" >Log out</a></li>
                  
                        
               </ul>
            </nav>
            <!-- /Navigation -->

         </div>
      </header>
   
   
  <br><br><br><br><br><br><br>
  <!-- Footer -->
      <footer id="footer" class="section">

         <!-- container -->
         <div class="container">

            <!-- row -->
           

               <!-- footer logo -->
               
               <!-- footer logo -->


            


                  <div class="about_section layout_padding padding_top_90">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <h1 class="about_taital">Customer Service Executive</h1>
               <p class="about_text" style="color:black">
				Customer care executives are the support system of companies that often communicate with their customers. These professionals help companies develop and maintain strong relationships with customers and clients. Knowing more about this profession can help you decide if you want to pursue this career path. In this article, we answer, "What is a customer care executive?", outline their primary and high-level duties, discuss what skills they use to do their job well and share some useful tips to excel in this career.
				A customer care executive is a professional responsible for communicating the how's and why's regarding service expectations within a company. These professionals perform a number of duties, including answering phones, responding to customer questions and assisting with customer issues. They are often responsible for front-facing duties that directly impact the customer's experience of an organisation. They may also lead a team of customer service professionals and educate them on how to tackle customer queries.

				While some customer service jobs are for freshers, there is a broad category of industries they work in. These include call centres, hospitality, tech, finance and even education.

                </p>

                
               
               
            </div>
            <div class="col-md-6">
               <!-- <div><img src="static/images/compieimg.jpg" class="image_1"></div> -->
               <!-- <div><img src="D:/SEM 8/Final_4/flask-quiz-app/app/static/images/compieimg.jpg" class="image_1"></div> -->
               <div class="col-md-6">
                  <div><img src="{{ url_for('static', filename='images/compieimg.jpg') }}" class="image_1"></div>
              </div>
            </div>
         </div>
      </div>
   </div>
   <!--about section end -->
   <!--footer section start -->
  
            
        
   <script src="static/js4/jquery.min.js"></script>
   <script src="static/js4/popper.min.js"></script>
   <script src="static/js4/bootstrap.bundle.min.js"></script>
   <script src="static/js4/jquery-3.0.0.min.js"></script>
   <script src="static/js4/plugin.js"></script>
   <!-- sidebar -->
   <script src="static/js4/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="static/js4/custom.js"></script>
   <!-- javascript -->
   <script src="static/js4/owl.carousel.js"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   <script type="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2//2.0.0-beta.2.4/owl.carousel.min.js"></script>
   <script>
      var $owl = $('.owl-carousel');

      $owl.children().each(function (index) {
         $(this).attr('data-position', index); // NB: .attr() instead of .data()
      });

      $owl.owlCarousel({
         center: true,
         loop: true,
         items: 3,
      });

      $(document).on('click', '.owl-item>div', function () {
         // see https://owlcarousel2.github.io/OwlCarousel2/docs/api-events.html#to-owl-carousel
         var $speed = 300;  // in ms
         $owl.trigger('to.owl.carousel', [$(this).data('position'), $speed]);
      });

   </script>
               <!-- /social -->

               <!-- copyright -->
       
        </div>
            <!-- row -->

         </div>
         <!-- /container -->

      </footer>
      <!-- /Footer -->

</body>

<style>
    body {
      background-color: #e6f2ff; /* replace with your desired color */
    }
  </style>
</html>
<!--

           
      #print(jobs_dict[predictions[0]])
      job = {}
      #job[0] = jobs_dict[predictions[0]]
      index = 1
     #

-->

